* {
    margin: 0;
    padding: 0;
  }
  
  html, body {
    width: 100%;
    height: 100%;;
    font-family: 'Montserrat';
    background: #000100;
    color: #fff;
  }
  
  img {
    width: 100%;
    height: auto;
    z-index: -1;
  }
  
  .nav {
    position: absolute;
    width: 100%;
    height: 100px;
    z-index: 1;
    top: 3px;
  }
  
  .border-bottom {
    position: absolute;
    top: 100px;
    width: 0%;
    z-index: 1;
    border-color: rgba(255,255,255, .2);
    border-width: .5px;
  }
  
  .logo {
    position: absolute;
    padding: 20px;
    width: 500px;
    top: -15px;
  }
  
  
  
  .home-nav {
  line-height: 3;
  position: absolute;
   display: inline-block;
    padding: 20px 30px;
    margin-right: 60px;
    right: 300px;
  }
  
  
  .home-nav:hover {
      color: red;
      transform:scale(1.21);
  
  }
  
  .dash-nav {
  position: absolute;
  line-height: 3;
  display: inline-block;
  padding: 20px 30px;
  margin-right: 30px;
  right: 150px;
      }
  
  .dash-nav:hover {
      color: red;
      transform:scale(1.21);
  
  }
  
  .login-nav {
  position: absolute;
  line-height: 3;
  display: inline-block;
  padding: 20px 30px;
  
  right: 50px;
  color: red;
  }
  
  
  .login-nav:hover {
      color: white;
      transform:scale(1.21);
  
  }
  
  
  .text {
    position: absolute;
    top: 420px;
    left: 450px;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  
  .subtitle {
    text-transform: uppercase;
    font-size: 14px;
    margin-top: -130px;
  }
  
  
  .subtitle::before {
      display: inline-block;
      content: "";
      border: 1px solid #fff;
      width: 80px;
      margin: 0 10px 0 0;
      transform: translateY(-4px);
    }
  
    
  .desc {
      text-transform: uppercase;
      font-size: 20px;
      line-height: 2;
      color: rgb(230, 230, 230);
    margin-top: -10px;
    margin-left: 10px;
    font-size: 18PX;
    }
  
  .desc::after {
      display: inline-block;
      content: "";
      border: 1px solid #fff;
      width: 80px;
      margin: 0 10px 0 0;
      transform: translateY(-4px);
    }
  
  .title {
    font-size: 120px;
    text-transform: uppercase;
    width: 0%;
    margin-top: -20px;
    overflow: hidden;
    white-space: nowrap
  }
  
  .readmore {
    display: inline-block;
    margin-top: 80px;
    color: #fff;
    border-bottom: 1px solid #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding-bottom: 3px;
    font-weight: bolder;
  }
  
  .img-1 {
    position: absolute;
    top: 300px;
    right: 520px;
    transform: translateY(-50%);
    background: url('./img/img-1.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    width: 0;
    height: 600px;
  }
  
  .img-2 {
    position: absolute;
    top: 320px;
    right: 50px;
    transform: translateY(-50%);
    background: url('./img/img-2.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    width: 0;
    height: 350px;
    margin-bottom: 30px;
  }
  
  .img-3 {
    position: absolute;
    top: 820px;
    right: 0;
    transform: translateY(-50%); 
    background: url('./img/img-3.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    width: 0;
    height: 600px;
  }
  
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    z-index: 2;
    background: #ec1417;
  }
  
  .first {
    top: 0;
  }
  
  .second {
    top: 33.3%
  }
  
  .third {
    top: 66.6%;
  }
  
  @media(max-height: 720px) {
    .text {
      top: 360px;
      left: 360px;
    }
  
    .title {
      font-size: 100px;
    }
  
    .desc {
      margin-top: 30px;
    }
  
    .readmore {
      margin-top: 60px;
    }
  
    .img-1 {
      top: 240px;
      right: 330px;
      height: 480px;
    }
  
    .slider {
      right: 330px;
    }
  
    .img-2 {
      top: 270px;
      height: 280px;
    }
  
    .img-3 {
      top: 740px;
    }
  }
  
  
  
  
  
  /* BODY*/
  
  /* ----------- Main Section ---------- */
  
  #site-main{
      margin-top: 33%;
  }
  
  #posts{
      margin-bottom: 5em;
  }
  
  .grid{
      margin: 0 auto;
  }
  
  .grid .grid-item{
      width: 100%;
      min-height: 8em;
      /* max-height: 18em; */
      margin-bottom: 1em;
      background-color: white;
  }
  
  .grid-item:hover {
      transform:scale(1.05);
  
  }
  
  .container{
      max-width: 80%;
      padding: 0 15px;
      margin: auto;
  }
  
  
  .createnew{
      line-height: 3em;
      border: white solid 3px;
      color: white;
      text-align: center;
      margin-bottom: 1em;
      margin-top: -1em;
      font-size: 20px;
  }
  
  .createnew:hover{
      transform:scale(1.05);
      background-color: white;
      color: black;
  
  
  }
  
  /* ----------- .Main Section ---------- */
  
  
  
  
  
  
  
  /* ----------- .Cards Section ---------- */
  
  .card p{
      color: rgb(88, 88, 88);
      margin: 1em;
  
  }
  
  
  .posts-title{
      color: white;
      background-color: red;
      text-align: center;
      font-size: 25px;
      line-height: 2em;
  
  }
  
  .card-footer {   
      line-height: 20px;
      text-align: center;
      margin: 25px;
      font-size: 16px;
      color: #000;
   
  }
  .card-footer li{
      display: inline;
      margin-right: 40px;
  }
  
  
  .updatepost{
      line-height: 3em;
  
      color: black;
      background-color: white;
      border: black solid 3px; 
      text-align: center;
      margin-bottom: 1em;
      margin-top: -1em;
      font-size: 15px;
      margin: auto;
      width: 60%;
  }
  
  .updatepost:hover{
      /* transform:scale(1.05); */
      background-color: black;
      color: white;
     border: black solid 3px; 
  
  }
  
  
    
  .icon {
    /*  position: relative;  */
      /* Adjust these values accordingly */
    margin-bottom: -6px;
      max-height: 25px;
      width: auto;
  
    }
  
  
  
  /* ----------- .Cards Section ---------- */
  
  
  
  
  
  
  
  
  /* global styling 
  
  /* ----------- article page ------- */
  
  .dash-heater{
      background-color: #ec1417;
      margin: 30px -20px;
      text-align: center;
      line-height: 100px;
  
  }
  .dash-heater h1{
      font-size: 100px;
      text-transform: uppercase;
      
      overflow: hidden;
      white-space: nowrap
  
  }
  
  
  #post{
      padding: 0 2em;
      margin-bottom: 4em;
  }
  
  .post-footer .post-author{
      position: relative;
      margin-top: 4em;
      background-color: var(--light);
  }
  
  .post-footer .post-author::after{
      background-color: white;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 4em;
      z-index: 0;
  }
  
  .post-footer .post-author .author-avatar{
      margin: 0 auto;
      margin-bottom: 1em;
      position: inherit;
      z-index: 1;
  }
  
  .post-footer .post-comments .reply{
      padding-left: 7em;
  }
  
  .form-control{
      width: 100%;
      border: 2px solid var(--border);
      padding: 1em;
      font-size: 18px;
      margin-right: 10px;
      font-family: 'Poppins', sans-serif;
  }
  
  /* ----------- .article page ------- */
  
  
  
  
  /* ----------- .footer ------- */
  
  #footer{
      background-color: red;
      color: white;
      text-align: center;
      line-height: 3em;
  }